:root{
    --darkColor: #0b0b2c;
    --mainColor: #002C3E;
    --firstColor: #1769a7;
    --secondColor: #78BCC4;
    --lightColor: #F7F8F3;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.formBg {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}
#login{
    background-color: var(--darkColor);
    border-radius: 20px 0 0 20px;
    box-sizing: border-box;
    height: auto;
    min-height: 480px;
    width: 100%;
    max-width: 400px;
    padding: 0 25px 0 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#register{
    background-color: var(--darkColor);
    border-radius: 20px 0 0 20px;
    box-sizing: border-box;
    height: auto;
    min-height: 480px;
    width: 100%;
    max-width: 400px;
    padding: 0 25px 0 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.formImg{
    width: 100%;
    max-width: 600px;
    max-height: 480px;
    min-height: 480px;
    background-color: var(--secondColor);
    border-radius: 0 20px 20px 0;
}
.title {
    color: #eee;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
}
.subtitle {
    color: #eee;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    padding: 5px;
}
.inputContainer {
    margin-top: 30px;
    height: 50px;
    position: relative;
    width: 100%;
}
.input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-weight: 200;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}
.cut {
    background-color: var(--darkColor);
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 0.2s;
    width: 76px;
}
.cut-short {
    width: 50px;
}
.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
}
.placeholder {
    color: #65657b;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}
.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}
.input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
}
.input:focus ~ .placeholder {
    color: var(--secondColor);
}
.btn{
    display: flex;
    justify-content: center;
    clear: both;
}
.submit {
    background-color: var(--firstColor);
    border-radius: 12px;
    border: 0;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 50%;
    padding: 10px;
    color: var(--mainColorColor);
    transition: all ease-in-out 0.05s;
}
.submit:active {
    background-color: var(--secondColor);
}
.goToLogin{
    display: flex;
    font-size: 12px;
    color: #eee;
    font-weight: 200;
    justify-content: center;
}
.goToLogin a{
    color: var(--firstColor);
}
.meta{
    font-size: 12px;
    padding: 8px 0px 0px 10px;
    color: #808097;
}
.text{
    font-weight: 200;
    font-size: 18px;
    padding: 5px 0px 5px 10px;
}
#list{
    z-index: 99;
    list-style: none;
    position: relative;
    padding-left: 20px;
    margin-top: 0;
    background-color: #303245;
    border-radius: 0px 0px 10px 10px;
    transition: 1s ease-in-out;
}
#list li a{
    color: #fff;
    text-decoration: none;
}
#list li a div{
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 10px;
}
.labelFile{
    position: absolute;
    user-select: none;padding: 18px;
    border-radius: 50%;
    cursor: pointer;
}
input[type="file"]{
    display: none;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline-block;
    padding: 20px;
}
nav a{
    text-decoration: none;
    color: #064F68;
}
nav li{
    --ionicon-stroke-width: 42;
    font-size: 20px;
    color: #064F68;
}
nav img{
    height: 50px;
    width: 180px;
}
.logout{
    cursor: pointer;
}
#search{
    background-color: #d5e1eb;
    border-radius: 20px;
    border: 0;
    color: #000;
    font-weight: 200;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 10px 30px 10px 30px;
}
main{
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin-top: 20px;
}
.mainMenu{
    display: flex;
    position: sticky;
    align-items: center;
    height: fit-content;
    flex-direction: column;
    padding-top: 20px;
    font-size: 20px;
    width: 60px;
    top: 0px;
}
.mainMenu div{
    padding: 20px;
    color: #064F68;
    --ionicon-stroke-width: 42;
}
.mainMenu div:hover{
    cursor: pointer;
}
.mainContent{
    width: 100%;
    max-width: 1200px;
}
.mainFriends{
    min-width: 300px;
    width: 300px;
}
.mainFriend{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #d5e1eb;
    width: 100%;
    height: 50px;
}
.friendRequest{
    display: flex;
    position: relative;
    height: 200px;
    width: 100%;
    background-color: #aed7f7;
    border-radius: 12px;
    flex-direction: column;
}
.mainFriendRequest{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d5e1eb;
    width: 100%;
    height: 110px;
}
.friendButton{
    display: flex;
    position: absolute;
    width: 70px;
    height: 30px;
    bottom: -20px;
    border-radius: 20px;
    background-color: #0b0b2c;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.friendAccept{
    left: 20%;
}
.friendDecline{
    right: 20%;
}
.br{
    border-radius: 10px;
    margin-bottom: 10px;
}
.br1{
    border-radius: 20px;
}
.mainFriendName{
    padding-left: 20px;
}
.mainLastMessage{
    font-size: 14px;
    color: #5E5E5E;
}
.profilePic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #78BCC4;
    background-position: center;
    background-size: cover;
    margin-left: 10px;
}
.activity{
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 23px;
}
.mainProfile{
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.profile{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profliePicDiv{
    width: 40%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profilePicMain{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    background-color: #0b0b2c;
}
.updateProfilePic{
    height: 50px;
    width: 50px;
    right: 10px;
    bottom: 10px;
    position: absolute;
    border-radius: 50%;
    background-color: #1eb3cd;

}
.profileDescDiv{
    width: 60%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profileName{
    width: 100%;
    height: fit-content;
    text-align: center;
    padding-bottom: 10px;
    font-size: 32px;
}
.profileData{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    font-size: 16px;
    padding-top: 60px;
}
.statistics{
    font-weight: bold;
}
.profileContent{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    height: fit-content;
}
.profileContentPicDiv{
    width: 40%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-messageBoxClocolor: #78BCC4;
}
.profileContentPicMain{
    height: 300px;
    width: 200px;
    border-radius: 20px;
    margin: 20px;
}
.profileContentDescDiv{
    width: 60%;
    height: fit-content;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}
.messageBox{
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    min-height: 500px;
    min-width: 600px;
    background-color: #d5e1eb;
    animation: to-top 0.5s forwards;
}
.active{
    display: block;
}
.messageBoxHeader{
    height: 50px;
}
.messageBoxClose{
    position: absolute;
    right: 10px;
    top: 5px;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 99;
}
.chatMessages{
    max-height: 400px;
    height: 400px;
    width: 100%;
    background-color: #d5e1eb;
    overflow-y: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
.message{
    background-color: #303245;
    border-radius: 12px;
    color: #eee;
    height: fit-content;
    margin: 10px 10px 5px;
    width: 80%;
}
.message p{
    margin: 0;
}
.message span{
    padding-left: 8px;
}
.chatMessages::-webkit-scrollbar{
    width: 0px;
}
.inputMessageMain{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-around;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    border-top: 1px solid rgb(87, 189, 214,0.2);
}
.inputMessage{
    border: none;
    background: transparent;
    padding: 10px;
    outline: none;
    color: #000;
    width: 80%;
    font-size: 16px;
}
.inpuMessageSubmit{
    background: #0b0b2c;
    color: #fff;
    width: 10%;
    padding: 10px 15px 10px 15px;
    margin: 5px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    appearance: none;
}
.addFriend{
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    background: #fff;
    border: 2px solid #1eb3cd;
    color: #1eb3cd;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;
}
.addFriend:focus{
    color: #000;
    background: #1eb3cd;
}
.addFriend:active {
    letter-spacing: 2px;
}
.tc{
    text-align: center;
    margin: 0;
}
.pt{
    padding-top: 50px;
}
.targetProfile{
    cursor: pointer;
    user-select: none;
}
footer{
    position: relative;
    text-align: center;
}
footer section{
    margin-top: 30px;
}
.info{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding-top: 30px;
}
.infoCol{
    width: 100%;
}
.infoCol h6{
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
}
footer hr{
    margin: 30px 0px;
}
.footerDesc{
    margin-bottom: 30px;
}
.footerDesc div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footerDescText{
    width: 100%;
}
.social{
    text-align: center;
    margin-bottom: 30px;
}
.social a{
    text-decoration: none;
    color: #000;
    margin-right: 15px;
}
@media only screen and (min-width: 992px){
    .footerDescText{
        width: 66.66%;
    }
}
@media only screen and (min-width: 768px){
    .infoCol{
        width: 16.66%;
    }
    .infoCol{
        margin-top: 0;
    }
}
  @keyframes to-top {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}