

.profile{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profliePicDiv{
    width: 40%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profilePicMain{
    min-height: 200px;
    min-width: 200px;
    border-radius: 50%;
    position: relative;
    background-color: #0b0b2c;
}
.updateProfilePic{
    height: 50px;
    width: 50px;
    right: 10px;
    bottom: 10px;
    position: absolute;
    border-radius: 50%;
    background-color: #1eb3cd;

}
.profileDescDiv{
    width: 60%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profileName{
    width: 100%;
    height: fit-content;
    text-align: center;
    padding-bottom: 10px;
    font-size: 32px;
}
.profileData{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    font-size: 16px;
    padding-top: 50px;
}
.statistics{
    font-weight: bold;
}
.profileContent{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    height: fit-content;
}
.profileContentPicDiv{
    width: 40%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profileContentPicMain{
    height: 300px;
    width: 200px;
    border-radius: 20px;
    margin: 20px;
}
.profileContentDescDiv{
    width: 60%;
    height: fit-content;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}
.addFriend{
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    background: #fff;
    border: 2px solid #1eb3cd;
    color: #1eb3cd;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;
}
.addFriend:focus{
    color: #000;
    background: #1eb3cd;
}
.addFriend:active {
    letter-spacing: 2px;
}
@media only screen and (min-width: 992px){
    .mainFriends{
        display: block;
    }
}
@media only screen and (min-width: 768px){
    #search{
        display: block;
    }
    #login{
        border-radius: 20px 0 0 20px;
    }
    #register{
        border-radius: 20px 0 0 20px;
    }
    .infoCol{
        margin-top: 0;
    }
    .footerLogo{
        flex-direction: column;
    }
    .profile{
        flex-direction: row;
    }
    .formImg{
        display: block;
    }
}
@media only screen and (min-width: 600px){
    .info{
        flex-direction: row;
    }
    .infoCol{
        margin-top: 0px;
    }
    .line::before{
        border-top: 1px solid #064F68;
    }
    .line::after{
        border-top: 1px solid #064F68;
    }
    nav{
        justify-content: space-around;
    }
    nav ul{
        display: block;
    }
    .second{
        display: none;
    }
    .footer img{
        margin: 15px;
    }
}